body {
  font: 100%/1.5 sans-serif;
  color: #444;
}

article {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
	article {
	  width: 60%;
	}
}

pre {
  background: #f2f2f2;
  padding: 1em 0;
}